
:root{
    --mainPannal: #373030c0;
    --Acents: linear-gradient(90deg,rgba(227, 92, 25, 1) 0%, rgba(250, 46, 0, 1) 50%, rgba(184, 0, 0, 1) 100%);
    background-color: #424242;
    --text: rgb(222, 222, 222);
    color: var(--text);
    --buttons: #312323c0;
    --buttons_hover: #150c0cc0;
    --buttons_border: #ff6200;
}
.main{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    &_front{
        display: flex;
        width: 100%;
        height: 75%;
        justify-content: center;
        &_Endings{
            display: none;
            align-self: center;
            flex-direction: column;
            width: 80%;
            height: 93%;
            background-color: black;
            border-radius: 10px;
            &-days{
                display: none;
                align-content: center;
                text-align: center;
                font-size: 40px;
                margin-top: 5px;
                align-self: center;
                background-color: aqua;
                width: 40%;
                height: 50px;
            }
            &-maintext{
                
                display: none;
                padding: 5px;
                margin-top: 5px;
                align-self: center;
                background-color: aqua;
                width: 95%;
                height: 70%;
                font-size: 35px;
               align-content: center;
            }
                &_button{
                display: none;
                align-content: center;
                justify-content: space-evenly;
                margin-top: 5px;
                align-self: center;
                background-color: aqua;
                width: 40%;
                height: 50px;
            }
        }
    }
    &_task{
        
        width: 100%;
        height: 25%;
        background-color: var(--mainPannal);
        display: flex;
        flex-direction: column;
       gap: 10px;
        &_text{
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 50px;
            margin-bottom: 5px;
            justify-content: space-evenly;
            &-maintext{
                text-align: center;
                width: 75%;
                height: 100%;
                align-content: center;
                font-size: 25px;
            }
            &-mainbutton{
                width: 5%;
                height: 100%;
                align-content: center;
                text-align: center;
                &_allnext{
                    background-color: var(--buttons);
                    color: var(--text);
                    border: var(--buttons);
                    width: 70px;
                    height: 40px;
                    font-size: 20px;
                    border-radius: 10px;
                }
            }
        }
        &_answers{
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            &_answer{
                display: flex;
                width: 45%;
                height: 100%;
                align-content: center;
                justify-content: center;
                &_alldays{
                    background-color: var(--buttons);
                    color: var(--text);
                    border: var(--buttons);
                    width: 50%;
                    height: 90%;
                    font-size: 20px;
                }
            }
        }
        &_acents{
            display: flex;
            align-self: center;
                width: 97%;
                height: 5px;
                background:var(--Acents);
            }
    }
}
.day1{
    display: none;
}
.day2{
  display: none;
}
.day3{
    display: none;
}
.day4{
    display: none;
}
.day5{
    display: none;
}
#next2{
    display: none;
}
#next3{
    display: none ;
}
#next4{
    display: none;
}
#next5{
    display: none;
}
#button1{
    display: none;
}
#button2{
    display: none;
}
#button3{
    display: none;
}
#button4{
    display: none;;
}
#button5{
    display: none;
}
.Allbutton:hover{
    background-color: var(--buttons_hover);
    color: var(--text);
    border: 1px solid var(--buttons_border);
}