.main{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    &_front{
        display: flex;
        width: 100%;
        height: 75%;
        background-color: blue ;
        justify-content: center;
        &_Endings{
            display: none;
            align-self: center;
            flex-direction: column;
            width: 80%;
            height: 93%;
            background-color: black;
            border-radius: 10px;
            &-days{
                display: none;
                align-content: center;
                text-align: center;
                font-size: 40px;
                margin-top: 5px;
                align-self: center;
                background-color: aqua;
                width: 40%;
                height: 50px;
            }
            &-maintext{
                display: none;
                padding: 5px;
                margin-top: 5px;
                align-self: center;
                background-color: aqua;
                width: 95%;
                height: 70%;
                font-size: 30px;
            }
                &_button{
                display: none;
                align-content: center;
                justify-content: space-evenly;
                margin-top: 5px;
                align-self: center;
                background-color: aqua;
                width: 40%;
                height: 50px;
            }
        }
    }
    &_task{
        width: 100%;
        height: 25%;
        background-color: green;
        display: flex;
        flex-direction: column;
       gap: 10px;
        &_text{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 50px;
            background-color: red;
            margin-bottom: 5px;
            justify-content: space-evenly;
            &-maintext{
                width: 75%;
                height: 100%;
                background-color: pink;
            }
            &-mainbutton{
                width: 5%;
                height: 100%;
                background-color: gray;
            }
        }
        &_answers{
            width: 100%;
            height: 30%;
            background-color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            &_answer{
                width: 45%;
                height: 100%;
                background-color: pink;
            }
        }
    }
}
.day1{
    display: none;
}
.day2{
  display: none;
}
.day3{
    display: none;
}
.day4{
    display: none;
}
.day5{
    display: none;
}
#next2{
    display: none;
}
#next3{
    display: none ;
}
#next4{
    display: none;
}
#next5{
    display: none;
}
#button1{
    display: none;
}
#button2{
    display: none;
}
#button3{
    display: none;
}
#button4{
    display: none;;
}
#button5{
    display: none;
}